API_NAME=
API_VERSION=
API_PREFIX_PATH =

#---- Services:

STORAGE_BASE_URL=

#---- S3:
S3_ENDPOINT_URL=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=
S3_BUCKET=
S3_SIGNATURE_VERSION=

FILE_ALLOWED_TYPES=
FILE_MAX_SIZE=

LITE_PARSER_BASE_URL=

# ---- Temporal
TEMPORAL_HOST=
TEMPORAL_NAMESPACE=
TEMPORAL_TASK_QUEUE=

# ---- Ollama:
EMBEDDING_PROVIDER=
EMBEDDING_MODEL=
EMBEDDING_BASE_URL=

# ---- VecDB
VECDB_PROVIDER=
VECDB_BASE_URL=
VECDB_COLLECTION=
